on init && property:ro.boot.hardware.sku=XT1793
    setprop ro.boot.product.hardware.sku n

on init && property:ro.boot.hardware.sku=XT1794
    setprop ro.boot.product.hardware.sku n

on init && property:ro.boot.hardware.sku=XT1799-2
    setprop ro.boot.product.hardware.sku n
    mount none /vendor/etc/libnfc-nxp_retcn.conf /vendor/etc/libnfc-nxp.conf bind
    mount none /vendor/etc/thermal-engine-retcn.conf /vendor/etc/thermal-engine.conf bind

on init
    setprop ro.vendor.fsg-id ${ro.boot.fsg-id}
    setprop ro.vendor.hw.dualsim ${ro.boot.dualsim}
    setprop ro.vendor.hw.device ${ro.boot.device}
    setprop ro.vendor.hw.radio ${ro.boot.radio}
    setprop ro.vendor.hw.hwrev ${ro.boot.hwrev}
    setprop ro.vendor.hw.revision ${ro.boot.revision}
    setprop ro.vendor.carrier ${ro.boot.carrier}
    setprop ro.vendor.boot.cid ${ro.boot.cid}
    setprop ro.vendor.boot.radio ${ro.boot.radio}
    setprop ro.vendor.boot.hwrev ${ro.boot.hwrev}
    setprop ro.vendor.boot.powerup_reason ${ro.boot.powerup_reason}
    setprop ro.vendor.boot.bl_state ${ro.boot.bl_state}
    setprop ro.vendor.boot.serialno ${ro.boot.serialno}
    setprop ro.vendor.zygote ${ro.zygote}
    setprop ro.product.manufacturer Motorola

on boot
    # Change permission for fingerprint sensor
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/nav
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/clk_enable
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/dev_enable
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/irq
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/irq_cnt
    chmod 0440 /sys/bus/spi/devices/spi1.0/irq_cnt

service vendor.sensors.qti /vendor/bin/sensors.qti
    class core
    user system
    group system
    disabled

service vendor.sensor-sh /vendor/bin/init.qcom.sensors.sh
    class core
    user root
    oneshot
