on boot
    # Change permission for fingerprint sensor
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/nav
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/clk_enable
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/dev_enable
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/irq
    chown system oem_5004 /sys/bus/spi/devices/spi1.0/irq_cnt
    chmod 0440 /sys/bus/spi/devices/spi1.0/irq_cnt

# Montana uses qcom sensor service
service sensors /vendor/bin/sensors.qcom
    class core
    user root
    group root

# Allow usb charging to be disabled peristently
on property:persist.usb.chgdisabled=1
#USB controller configuration
    setprop vendor.usb.rndis.func.name "rndis"
    setprop vendor.usb.rmnet.func.name "rmnet_bam"
    setprop vendor.usb.rmnet.inst.name "rmnet_bam_dmux"
    setprop vendor.usb.dpl.inst.name "dpl_bam_dmux"
